extends layout

block content
  include components/ads/search-results
  .ui.container
    .ui.segment
      form.ui.form
        .field
          input(name='q', type='text', placeholder='Termino de búsqueda')
        .field
          label Solo buscar en los siguientes tablones
          select.ui.dropdown(multiple, name='boards')
            each board in allowList
              option(value=board)= board
        .inline.fields
          label Solo OPs
          .field
            .ui.toggle.checkbox
              input(name='op', value='true', type='checkbox')
        .inline.fields
          label Solo posts con archivos
          .field
            .ui.toggle.checkbox
              input(name='extensions', value='mp4', type='checkbox')
              label mp4
          .field
            .ui.toggle.checkbox
              input(name='extensions', value='webm', type='checkbox')
              label webm
          .field
            .ui.toggle.checkbox
              input(name='extensions', value='img', type='checkbox')
              label jpg/png/gif
        button.ui.button(type='submit') Buscar
    h1 Resultados de la búsqueda: #{q}
    if items.length < 1
      center: h2 No hay resultados
    .ui.items#hispaBox
      each item in items
        - var thread = item.thread ? item.thread.postId : item.postId
        a(href='/'+item.board+'/res/'+thread+'.html#'+item.postId)
          .reply(style='margin: 10px 0;')
            div
              label
                span.filetitle= item.subject
                span.postername
                  |  #{item.posterName}
                span.timer 
                  |  {{'#{item.date.toISOString()}' | moment 'DD/MM/YY HH:mm'}}
                span
                  |  /#/ #{item.postId}
            .flex
              if item.file.thumb
                img(src=item.file.thumb)
              blockquote !{renderer(item.message)}
    //- Páginas
    center
      if totalPages > 1
        .ui.pagination.menu.red.inverted
          each page in pages
            if page.type == 'page'
              a(class=page.active?'item active':'item', href='/search?'+currentQuery+'&p='+page.num) #{page.text || page.num}
            if page.type == 'divider'
              .item ...