//- Pongo esto en un archivo separado para no ponerlo 2 veces en post.jade

//- Metadatos del post
label
  //- Esta checkbox está de adorno :^)
  input(type='checkbox', disabled)
  //- Título si es un hilo
  if post.subject
    span.filetitle= ' ' + post.subject
  //- Bandera si es un board regional
  if post.flag
    span &nbsp;
    img.bandera(src=post.flag, alt=post.posterCountry, title=post.posterCountryName)
  if post.posterName
    span.postername= ' ' + post.posterName
  //- ID anónimo
  if post.anonId
    span.anonid(style='background-color:' + post.anonIdColor)= post.anonId
  //- Chapas
  if post.op
    span.badge OP
  if post.admin
    span.badge Admin
  if post.mod
    span.badge Mod
  span.timer(v-cloak, title='Hispachan Files siempre muestra la hora local.') &nbsp; {{'#{post.date.toISOString()}' | moment 'DD/MM/YY HH:mm'}}
//- kek
.mvisible.reflinkposition
  br
span.reflink
  //- Disgusting
  |  
  a.reflink2(title='Obtener link a este post', href=settings.site.url+'/'+thread.board+'/res/'+thread.postId+'.html#'+post.postId) /#/&nbsp;
  a.reflinks(title='ID de post')= post.postId
//- ??
span.extrabtns
  if post.locked
    img(src='https://www.hispachan.org/css/locked.gif', alt='Cerrado')
  if post.sticky
    img(src='https://www.hispachan.org/css/sticky.gif', alt='Hilo fijado', title='Hilo fijo')
  if post.dice
    img(src='https://www.hispachan.org/buttons/dado.png', alt='Se permiten dados', title='En este hilo se permite lanzar dados.')
br