if thread.postId != post.postId
  include postMeta
if post.file.url
  span.filesize
    //- Link a archivo
    a(target='_blank', href='/'+post.file.url)
      = post.file.url.split('/').reverse()[0]
    //- Búsqueda de imágenes
    - var url = post.file.url.substr(-3) == 'mp4' || post.file.url.substr(-4) == 'webm' ? post.file.thumb : post.file.url
    - var extension = post.file.url.split('.').reverse()[0]
    if extension == 'gif' || extension == 'jpg' || extension == 'mp4' || extension == 'png' || extension == 'webm'
      a(target='_blank', href='https://www.google.com/searchbyimage?image_url='+settings.site.url+'/'+url, title='Buscar en Google Imágenes...')
        | &nbsp;[
        b Google
        | ]
      a(target='_blank', href='http://imgops.com/'+settings.site.url+'/'+url)
        | &nbsp;[
        b ImgOps
        | ]
      a(target='_blank', href='https://iqdb.org/?url='+settings.site.url+'/'+url)
        | &nbsp;[
        b iqdb
        | ]
      a(target='_blank', href='https://saucenao.com/search.php?url='+settings.site.url+'/'+url)
        | &nbsp;[
        b SauceNAO
        | ]
    //- Información del archivo
    span(style='font-size:85%')
      = ' ( ' + post.file.size
      if post.file.resolution
        span.moculto= ', ' + post.file.resolution
      if post.file.name
        span.nombrefile= ', ' + post.file.name
      = ' )'
  br
  //- Thumb
  //- (TODO: Expandir webm en la misma página)
  a(target='_blank', href='/'+post.file.url)
    span(id='thumb'+post.postId)
      img(src='/'+post.file.thumb, alt=post.postId, class='thumb')
a(name=post.postId, style='position: relative; bottom: 64px; display: block;')
if thread.postId == post.postId
  include postMeta
blockquote(style='word-wrap: break-word;')
  if post.dado
    font(color='red')
      img(src='/images/dado.png')
      | &nbsp;= 
      b #{post.dado}
    br
    br
  //- Fortunitas :3
  if post.fortuna
    font(color='red')
      b Tu fortuna: #{post.fortuna}
      br
      br
  | {{{#{JSON.stringify(post.message)} | renderPostMessage #{post.postId}}}}
  br
  br
  //- (TODO: Mostrar los backlinks)
  .replybacklinks
